RETELL_API_KEY=YOUR_RETELL_API_KEY
RETELL_AGENT_ID=YOUR_RETELL_AGENT_ID
RETELL_WEBHOOK_SECRET=YOUR_RETELL_WEBHOOK_SECRET

TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO_PHONE_NUMBER=YOUR__TWILIO_PHONE_NUMBER

SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

PORT=3001
DASHBOARD_URL=DASHBOARD_URL
AGENT_NAME=Alex

